<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiaBeatz | Kalkulator Gula</title>
    <link rel="stylesheet" href="css/calc-info.css" />
</head>
<body>
    <%- include("partials/nav") %>
    <%- include("partials/dummy") %>
    <div class="concontainer" >
        <div class="search">
            <input type="text" placeholder="Cari Resep Makanan dan Minuman..." />
            <div class="search-logo">
                <img src="images/recipe/search.jpg" />
            </div>
        </div>
        <div class="container">
            <% recipes.forEach(recipe => { %>
                <div class="card">
                    <div class="top">
                        <div class="name"><p><%= recipe.title %></p></div>
                        <div class="ket"><p>Ukuran Porsi: <%= recipe.ingredients.length %> bahan</p></div>
                    </div>
                    <div class="bottom">
                        <div class="kcal">
                            <div class="atas"><p>Kalori</p></div>
                            <div class="bawah"><p><%= recipe.kcal %> kkal</p></div>
                        </div>
                        <div class="gula">
                            <div class="atas"><p>Gula</p></div>
                            <div class="bawah"><p><%= recipe.sugar %> g</p></div>
                        </div>
                        <div class="add"><p>+</p></div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
