<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resep Makanan</title>
  <link rel="stylesheet" href="/css/recipe-info.css"/>
  <link rel="stylesheet" href="/css/global.css"/> 
</head>
<body>
  <%- include("partials/nav") %>
  <%- include("partials/dummy") %>

  <div class="card">
    <div class="image" style="background-image: url('<%= recipe.image %>');">
    </div>

    <div class="recipe">

      <div class="top">
        <h1><%= recipe.title %></h1>
        <button><a href="/recipes">X</a></button>
      </div>

      <div class="middle">
        <div class="text-box">
          <div class="bahan">
            <h3>Bahan :</h3>
            <ul>
              <% recipe.ingredients.forEach(ingredient => { %>
                <li><%= ingredient %></li>
              <% }); %>
            </ul>

          </div>

          <div class="cara">
            <h3>Cara Membuat :</h3>
            <ul>
              <% recipe.steps.forEach(step => { %>
                <li><%= step %></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>

      <div class="bottom">
        <div class="kcal">
          <img src="/images/recipe/kcal.jpg">
          <p><%= recipe.kcal %> kcal</p>
        </div>
        <div class="gula">
          <img src="/images/recipe/sugar.jpg">
          <p><%= recipe.sugar %> g</p>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/recipe.js"></script>
</body>
</html>

