<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiaBeatz | Resep Makanan</title>
  <link rel="stylesheet" href="/css/recipes.css"/>
  <link rel="stylesheet" href="/css/global.css"/> 
</head>
<body>
  <%- include("partials/nav") %>
  <%- include("partials/dummy") %>
  
  <div class="search">
    <input type="text" placeholder="Cari Resep Makanan dan Minuman...">
    <div class="search-logo">
      <img src="/images/recipe/search.jpg">
    </div>
  </div>

  <div class="container">
    <% recipes.forEach(recipe => { %>
      <div class="card">
        <div class="img" style="background-image: url('<%= recipe.image %>');"></div>
        <h3><%= recipe.title %></h3>
    
        <div class="bottom">
          <div class="info">
            <div class="kcal">
              <img src="/images/recipe/kcal.jpg" alt="">
              <p><%= recipe.kcal %> kcal</p>
            </div>
            <div class="gula">
              <img src="/images/recipe/sugar.jpg" alt="">
              <p><%= recipe.sugar %> g</p>
            </div>
          </div>
          <div class="view">
            <a href="/recipe-info/<%= recipe.id %>">Lihat Resep</a>
          </div>
        </div>
      </div>
    <% }); %>
    
  </div>

  <script src="/js/nav.js"></script>
</body>
</html>
